html {
  font-size: 62.5%;
}
.input {
  margin: 5rem auto;
  text-align: center;
  font-size: 2rem;
}
.input input {
  margin: 1rem;
  padding: 5px;
}
.input input:hover {
  font-size: 3rem;
  background-color: rgba(8, 77, 117, 0.863);
  border: 2px solid red;
  color: white;
}
.list-button {
  display: flex;
  padding: 8px;
  margin-top: 5px;
  justify-content: center;
}
.list-button button {
  margin: 6px;
  font-size: 3rem;
}
.list-button button:hover {
  background-color: rgba(204, 112, 7, 0.911);
  color: white;
  font-size: 3rem;
  border: 2px solid black;
}
.result {
  text-align: center;
  font-size: 5rem;
  margin: 3rem auto;
}
